*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./wtr_summer.jpg');
}
.container{
    width: 600px;
    margin: 100px auto;
    padding: 40px;
}
.inputs{
    padding: 2rem 0 2rem 0 ;
    text-align: center;
    justify-content: center;
    background: wheat;
    height: 150px;
}
.inputs input[type="text"]{
    height: 4rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #101010;
    border-radius: 3px;
    margin-right: 4px; 
}
.inputs input[type="submit"]{
     height: 3rem;
     width: 6rem;
     background: #270aca;
     font-weight: bold;
     color: wheat;
     font-weight: bold;
     margin-top: 20px;
     border: none;
     border-radius: 4px;
}
.display{
    text-align: center;
    width: 520pxx;
    color: #16a864;
}
.wrapper{
    margin: 0 9rem;
    background-color: beige;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}
.wrapper h2{
    padding: 5px;
    text-align: center;
    background: blue;
    color: white;
}
.wrapper p{
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size: 25px;
}
.wrapper h2 span{
    font-size: 26px;
    color: aquamarine;
} 
.wrapper p span {
    color: purple;
    font-size: 25px;

}
